<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Produto</title>
</head>
<body>
  <form>
    <label>Nome do Produto</label>
    <input type="text" name="" id="product_name">
    <label>Valor do Produto</label>
    <input type="text" name="" id="product_value">
    <label>Custo do Produto</label>
    <input type="text" name="" id="product_coust">
    <label>Quantidade</label>
    <input type="text" name="" id="product_quantity">
    <button type="submit"></button>

  </form>

</body>
</html>