<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrar Produto</title>
</head>
<body>
<div>

  <div>
    <h1>
      Criar Novo Produto
    </h1>
  <div th:if="${message}" th:text="${message}" >

  </div>
  </div>

  <div>
    <form action="/product/new" method="POST" >
      <label>Nome do Produto</label>
      <input type="text" name="name" id="name">
      <label>Valor do Produto</label>
      <input type="text" name="value" id="value">
      <label>Custo do Produto</label>
      <input type="text" name="coust" id="coust">
      <label>Quantidade</label>
      <input type="text" name="stockQuantity" id="stockQuantity">
      <button type="submit">Send</button>
    </form>
  </div>
</div>


</body>
</html>